---
import { CountDown } from "./CountDown.tsx";
---

<section class="bg-blue pt-8 pb-16 text-center text-white">
  <h2 class="text-4xl">Sobre el evento</h2>

  <div class="mx-auto mt-8 flex max-w-2xl flex-col gap-4">
    <p>
      El ICPC es una de las competencias de programacion mas prestigiosas del
      mundo. Reune a todos los mejores equipos de programacion del mundo.
    </p>
    <p>
      Sunt velit proident exercitation anim dolore. Anim sint enim eiusmod amet
      incididunt adipisicing est. Est minim velit magna et exercitation.
      Reprehenderit exercitation quis duis velit sint Lorem labore reprehenderit
      officia velit. Mollit Lorem elit eu do proident veniam ullamco duis tempor
      nulla aliquip magna velit. Ipsum velit enim elit deserunt exercitation
      cupidatat. Elit do tempor qui eu consequat deserunt elit ea. Enim anim
      veniam ad magna exercitation duis veniam adipisicing aliqua.
    </p>
    <div class="mx-auto mt-6">
      <CountDown client:load />
    </div>
  </div>
</section>
