<header class="mx-auto flex max-w-2xl justify-between px-4 py-4 sm:px-6">
  <nav class="text-sm sm:text-base">
    <a href="/">Inicio</a>
  </nav>
  <nav class="text-sm sm:text-base">
    <a href="/teams">Equipos</a>
  </nav>
  <nav class="text-sm sm:text-base">
    <a href="#sponsors">Patrocinadores</a>
  </nav>
</header>

<style>
  header nav {
    --size: 3px;
    position: relative;
  }
  header nav::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    background-color: var(--color-red);
    height: var(--size);
    width: 0;
    transition: width 0.2s ease-in-out;
  }
  header nav::before {
    content: "";
    position: absolute;
    bottom: -4px;
    right: 50%;
    background-color: var(--color-yellow);
    height: var(--size);
    width: 0;
    transition: width 0.2s ease-in-out;
  }
  header nav:hover::after,
  header nav:hover::before {
    width: 50%;
  }
</style>
