<label
  class="relative block h-7.5 w-10 cursor-pointer bg-transparent md:hidden"
  for="burger"
>
  <input type="checkbox" id="burger" class="hidden" />
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
  <span class="hamburger-line"></span>
</label>

<style>
  @reference "tailwindcss";
  .hamburger-line {
    @apply absolute left-0 block h-1 w-full origin-left rounded-lg bg-black opacity-100 transition-all duration-300 ease-in-out;
  }

  .hamburger-line:nth-of-type(1) {
    @apply top-0 rotate-0;
  }

  .hamburger-line:nth-of-type(2) {
    @apply top-1/2 -translate-y-1/2;
  }

  .hamburger-line:nth-of-type(3) {
    @apply top-full -translate-y-full;
  }

  #burger:checked ~ .hamburger-line:nth-of-type(1) {
    @apply top-0 left-1 rotate-45;
  }

  #burger:checked ~ .hamburger-line:nth-of-type(2) {
    @apply w-0 opacity-0;
  }

  #burger:checked ~ .hamburger-line:nth-of-type(3) {
    @apply top-7 left-1 -rotate-45;
  }
</style>
